<div class="all">
<div class="jumbotron">
    <h2 class="title">高薪之路</h2>
    <p class="caption">来吧！一起上路！
    <br>
    我们希望藉由这个网站，
    <br>
     能让大家找到且应征上高薪且优质的工作。
    </p>

      <div class="s-combobox">
        <div class="s-combobox-input-wrap caption">
                <input type="text" name="q" accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" value="" id="mq" autocomplete="off"/>
                <button type="submit" class="btn ">搜索<s></s></button>
        </div>
      </div>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立刻上路</a></p>

  </div>
 <h2> 热门招聘 </h2>
 <hr />
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div >
            <a href="/jobs" class="logo-link "> </a>
            <div class="caption">
              <h3>新生大学</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div >
            <a href="/jobs" class="logo-link-first"> </a>
            <div class="caption">
              <h3>全栈营</h3>
            </div>
          </div>
        </div>
        <div class=" col-sm-4">
          <div >
            <a href="/jobs/9" class="logo-link-second "> </a>
            <div class="caption">
              <h3>八戒科技</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h2> 高薪职位 </h2>
  <hr />
  <hr />
    <ul>
                      <li class="lead">

                                              <a href="/jobs/10" class="caption lead" >前端工程师</a><br />
                                              <a href="/jobs/11" class="caption lead">测试开发工程师</a>
                                              <a href="/jobs/12" class="caption lead">高级运营经理</a><br />
                                              <a href="/jobs/13" class="caption lead">服务商运营总监</a>
                                              <a href="/jobs/14" class="caption lead">渠道经理</a><br />
                                              <a href="/jobs/15" class="caption lead">产品经理</a>
                                              <a href="/jobs/16" class="caption lead">Java工程师</a><br />
                                              <a href="/jobs/17" class="caption lead">数据分析师</a>
                                              <a href="/jobs/18" class="caption lead">经营分析师</a><br />
                                              <a href="/jobs/19" class="caption lead">采购经理</a>
                                              <a href="/jobs/20" class="caption  lead">数据架构师</a>

                      </li>
                      <div>
                                             <a rel="nofollow" href="#" target="_blank">关于我们</a><u>|</u>
                                             <a rel="nofollow" href="#" target="_blank">联系方式</a><u>|</u>
                                             <a rel="nofollow" href="#" target="_blank">广告服务</a><u>|</u>
                                             <a rel="nofollow" href="#" target="_blank">公司资质</a><u>|</u>
                                             <a rel="nofollow" href="#" target="_blank">加入我们</a><u>|</u>
                                             <a rel="nofollow" href="#" target="_blank">支付方式</a><u>|</u>
                                             <a target="_blank" href="#">热门服务</a>
                      </div>
    </ul>
</div>
