<div class=>

  <img src='http://img.g5.ll4ll8.com/site05/xiantanlishi/2016-12-05/04d7665d52d9c87d984501fbb9ee30da.jpg'>
  <h1>公司简介</h1>
 <p>这是一个很好的招聘网站这是一个很好的招聘网站这是一个很好的招聘网站这是一个很好的招聘网站这是一个很好的招聘网站这是一个很好的招聘网站这是一个很好的招聘网站</p>

</div>
